/* Addthis */
ul.compartir-contenidos {display: flex; flex-wrap: nowrap; align-items: center; list-style: none; font-size: 0; gap: 6px; margin-left: 10px; margin-bottom: 0;}
ul.compartir-contenidos > li {margin: 0; padding: 0;}
ul.compartir-contenidos > li:before {content: none;}
ul.compartir-contenidos > li a {
  display: block;
  font-size: 0 !important;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all .3s ease-in-out;
}
ul.compartir-contenidos > li a:hover {background: #0a3f74!important;}
ul.compartir-contenidos > li a[target=_blank] {padding: 0;}

ul.compartir-contenidos > li a[target=_blank]:after,
.content ul.compartir-contenidos > li a[target='_blank']:after,
.mainContenidoGeneral ul.compartir-contenidos > li a[target=_blank]:after {content: none;}

ul.compartir-contenidos > li a[href*=twitter] {background: #1d9bf0;}
ul.compartir-contenidos > li a[href*=facebook] {background: #1877F2;}
ul.compartir-contenidos > li a[href*=linkedin] {background: #0077B5;}
ul.compartir-contenidos > li a[href*=whatsapp] {background: #075E54;}

@media (max-width: 767px) {
    ul.compartir-contenidos > li[style="display:none"] {display: block!important;}
}

/* Noticias Addthis Top */
.herramientas-top-redes_addthis {float: right;  display: flex; align-items: center;} 
.herramientas-top-redes_addthis > span {font-size: 14px;}
.uchile .herramientas-top-redes_addthis > span {display:none;}
.uchile .content__share {position: inherit;}

@media (max-width: 767px) {
    .herramientas-top-redes_addthis {float: none;} 
    .derecho .herramientas-top-redes_addthis {margin-top: 10px;}
}

/* Facultades */
@media (max-width: 767px) {
    .artes .content__tools .herramientas-redes_addthis,
    .caren .content__tools .herramientas-redes_addthis,
    .ciencias .content__tools .herramientas-redes_addthis,
    .fcfm .content__tools .herramientas-redes_addthis,
    .facso .content__tools .herramientas-redes_addthis,
    .filosofia .content__tools .herramientas-redes_addthis,
    .forestal .content__tools .herramientas-redes_addthis,
    .inap .content__tools .herramientas-redes_addthis,
    .inta .content__tools .herramientas-redes_addthis,
    .medicina .herramientas-redes_addthis,
    .minas .herramientas-redes_addthis,
    .Odontologia .content__tools .herramientas-redes_addthis,
    .quimica .content__tools .herramientas-redes_addthis,
    .salud_publica .content__tools .herramientas-redes_addthis {float: right; margin: 0;}
    
    .diqbm #herramientas-redes .herramientas-redes_addthis,
    .derecho #herramientas-redes .herramientas-redes_addthis,
    .fau #herramientas-redes .herramientas-redes_addthis,
    .favet #herramientas-redes .herramientas-redes_addthis,
    .geologia #herramientas-redes .herramientas-redes_addthis,
    .iei #herramientas-redes .herramientas-redes_addthis {margin-top: 100px; left: auto;} 
    
    .derecho #herramientas-redes .herramientas-redes_addthis {right: 2%;}
    
    .fau #herramientas-redes .herramientas-redes_addthis,
    .favet #herramientas-redes .herramientas-redes_addthis {right: 3%;} 
    
    .iei #herramientas-redes .herramientas-redes_addthis {right: 4%;}
    
}
 