/* Ocultar columna lateral sin saltos SABERES DOCENTES y EIC*/
.final__aside,
.ocultar-contenido {display: none;}

/* Oculta publicidad resultado de búsqueda - Google*/
#adBlock,
.gcsc-branding {display: none !important;}

.mod_news-result h1 + h3 {display: none;}
.gs-promotion-image-box .gs-promotion-image,
.gs-web-image-box .gs-image {border: 0 !important;}

/* Addthis
ul.compartir-contenidos {display: flex; flex-wrap: nowrap; align-items: center; list-style: none; font-size: 0; gap: 6px; margin-left: 10px;}
ul.compartir-contenidos li {margin: 0; padding: 0;}
ul.compartir-contenidos li:before {content: none;}
ul.compartir-contenidos a {
  display: block;
  font-size: 0;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
ul.compartir-contenidos a:hover {opacity:.65}
ul.compartir-contenidos a[target=_blank] {padding: 0;}
ul.compartir-contenidos a[target=_blank]:after {content: none;}
ul.compartir-contenidos a[href*=twitter] {background: #1d9bf0;}
ul.compartir-contenidos a[href*=facebook] {background: #1877F2;}
ul.compartir-contenidos a[href*=whatsapp] {background: #25d366;}
ul.compartir-contenidos a[href*=linkedin] {background: #0077B5;}

@media (max-width: 767px) {
    ul.compartir-contenidos li[style="display:none"] {display: block!important;}
} */
