---
layout: base.njk
title: Rediseño Civil
---

{% set css %} {% include "style.css" %} {% endset %}
<style>
	{{ css | cssmin | safe }}
</style>
        <div class="tab__list" role="tablist">
			<a data-toggle="tab" href="#completa" role="tab" >Jornada completa</a>
			<a data-toggle="tab" href="#parcial" role="tab">Jornada parcial</a>
			<a data-toggle="tab" href="#externa" role="tab">Externos</a>
            <a data-toggle="tab" href="#search-academics" role="tab" class="active">Todos</a>
		</div>


{% for jornada in academicos %} 
<div id={{jornada.id}} class="tab__item " role="tabpanel">

	{% for esp in jornada.academicosesp %} 
    <h3>{{esp.name}}</h3>
    <br>
    <div class="academic-container">
    <div class="row">
    {% for academico in esp.academicos %} 
    
	<div class="col-2">
			
		<div class="academic">
        <div class="social-container">
                <div class="img-container">
                    <img class="photo-academic" src={{academico.img}} alt={{academico.nombre}}>
                </div>
        {% if (academico.lkd is defined and academico.lkd  != "") or (academico.web is defined and academico.web != "")%}
        <div class="social-menu">
        
            <div class="social-li"><a href="{{academico.lkd}}">
                <p class="lnkd-link" >in</p>
            </a></div>
            <div class="social-li" > <a href="{{academico.web}}">
                <p class="web-link">&#9784;</p>
            </a></div>
        
        </div>
        {% endif %}
        </div>
        
        <div class="name-academic">
            {{academico.nombre}}
        </div>
        <br>
        <div class="position-academic">
            {{academico.posicion}}
        </div>
        <br>
        <div class="phd-academic">
            {{academico.phd}}
        </div>
        <br>
        <div class="email-academic">
            {{academico.email}}
        </div>

    </div>
			
	
    </div>
    
	{% endfor %}
   
    </div>
    </div>
    {% endfor %}
</div>
{% endfor %}

<div id="search-academics" class="tab__item active" role="tabpanel">
<div class="filter-name-academic">
<input type="text" id="name-academic-filter"  placeholder="Buscar por nombre" title="Escribe">
<button type="button" onclick="filterAcademic()">Buscar</button>
</div>
<div class="academic-container" id="search-academic-container">
<div class="row" id="search-academic-row">
{% for jornada in academicos %}
    {% for esp in jornada.academicosesp %} 
	{% for academico in esp.academicos %} 
	<div class="col-2">
			
		<div class="academic">
            <div class="social-container">
                <div class="img-container">
                    <img class="photo-academic" src={{academico.img}} alt={{academico.nombre}}>
                </div>
                {% if (academico.lkd is defined and academico.lkd  != "") or (academico.web is defined and academico.web != "")%}
                <div class="social-menu">
                
                    <div class="social-li"><a href="{{academico.lkd}}">
                    <p class="lnkd-link" >in</p>
                    </a></div>
                    <div class="social-li" > <a href="{{academico.web}}">
                    <p class="web-link">&#9784;</p>
                    </a></div>
                
                </div>
                {% endif %}
            </div>
        
            <div class="name-academic">
                {{academico.nombre}}
            </div>
            <br>
            <div class="position-academic">
                {{academico.posicion}}
            </div>
            <br>
            <div class="phd-academic">
                {{academico.phd}}
            </div>
            <br>
            <div class="email-academic">
                {{academico.email}}
            </div>
        </div>
			
	</div>
	{% endfor %}

{% endfor %}
{% endfor %}
</div>
</div>
</div>

<script>
function filterAcademic() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("name-academic-filter");
    filter = input.value.toUpperCase();
    console.log(filter);
    ul = document.getElementById("search-academic-container")
    console.log(ul)
    li = ul.getElementsByClassName("col-2");
    console.log(li);
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByClassName("name-academic")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
            console.log(txtValue);
        } else {
            li[i].style.display = "none";
            console.log("hide")
        }
    }
    reorderItems();
}
</script>
<script>
function reorderItems() {
  var ul = document.getElementById("search-academic-row");
  var li = ul.getElementsByClassName("col-2");
  var visibleItems = [];
  var hiddenItems = [];

  for (var i = 0; i < li.length; i++) {
    if (li[i].style.display === "none") {
      hiddenItems.push(li[i]);
    } else {
      visibleItems.push(li[i]);
    }
  }

  for (var i = 0; i < visibleItems.length; i++) {
    ul.appendChild(visibleItems[i]);
  }

  for (var i = 0; i < hiddenItems.length; i++) {
    ul.appendChild(hiddenItems[i]);
  }
}
</script>